:root {
  --color-bg: #25282A;
  --color-slide-bg: #b1bec7;
  --color-text: #ffffff;
  --color-controls: #71ABFF;

  --padding: 1.25rem;
  --slides-number: 6;
  --slider-size: calc(100% / 6);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 0.8rem var(--padding);
  font-family: "Roboto", sans-serif;
}

.slider {
  max-width: 43.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.slider__content {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.8rem;
  margin-bottom: var(--padding);
}

.slider__content-list,
.slider__caption-list {
  width: calc(100% * var(--slides-number));
  height: 100%;
  display: flex;
}

.slider__content-list {
  transform: translateX(0%);
  transition: 0.4s ease-out;
}

.slider__caption-list {
  /* transition-delay: 0.4s; */
  transition: 0.4s ease-out;
}

.slider__content-list-item,
.slider__caption-list-item {
  height: 100%;
  width: 100%;
  background-color: var(--color-slide-bg);
}

.slider__content-list-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slider__caption {
  overflow: hidden;
  display: inline-block;
  margin-right: var(--padding);
  flex: 1 0 60%;
}

.slider__caption-list-item {
  background-color: transparent;
}

.slider__control {
  display: inline-block;
}

.custom-radio {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.custom-radio__inner {
  width: 0.5em;
  height: 0.5em;
  border: 1px solid var(--color-controls);
  border-radius: 50%;
  background-color: var(--color-controls);
  transition: 0.2s;
}

.slider input[name="slide"] {
  display: none;
}

.slider input:checked + .custom-radio .custom-radio__inner {
  background-color: transparent;
}

/* slide 6 */
.slider input:nth-of-type(6):checked ~ .slider__content .slider__content-list,
.slider input:nth-of-type(6):checked ~ .slider__caption .slider__caption-list {
  transform: translateX(calc(0 * var(--slider-size)));
}

/* slide 5 */
.slider input:nth-of-type(5):checked ~ .slider__content .slider__content-list,
.slider input:nth-of-type(5):checked ~ .slider__caption .slider__caption-list {
  transform: translateX(calc(-1 * var(--slider-size)));
}

/* slide 4 */
.slider input:nth-of-type(4):checked ~ .slider__content .slider__content-list,
.slider input:nth-of-type(4):checked ~ .slider__caption .slider__caption-list {
  transform: translateX(calc(-2 * var(--slider-size)));
}

/* slide 3 */
.slider input:nth-of-type(3):checked ~ .slider__content .slider__content-list,
.slider input:nth-of-type(3):checked ~ .slider__caption .slider__caption-list {
  transform: translateX(calc(-3 * var(--slider-size)));
}

/* slide 2 */
.slider input:nth-of-type(2):checked ~ .slider__content .slider__content-list,
.slider input:nth-of-type(2):checked ~ .slider__caption .slider__caption-list {
  transform: translateX(calc(-4 * var(--slider-size)));
}

/* slide 1 */
.slider input:nth-of-type(1):checked ~ .slider__content .slider__content-list,
.slider input:nth-of-type(1):checked ~ .slider__caption .slider__caption-list {
  transform: translateX(calc(-5 * var(--slider-size)));
}
